/* Books shelf */
.list-books-content {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 0 80px;
	width: 95%;
}


.bookshelf {
	margin: 1.5em 0;
	position: relative;
	min-height: 400px;
	width: auto;
	overflow: hidden;
}

.bookshelf__title {
	color: #202020;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 1em 0;
}

.bookshelf__title:empty { display: none; }


/* books grid */

.books-grid {
	background-color: #e7e7e7;
	box-shadow: inset 0 2px 10px rgba(145, 145, 145, 0.315);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	min-height: 370px;
	padding: 1em;
}

@media (min-width: 1070px) {
	.books-grid { perspective: 550px; }

	.books-grid:before &:not(.page-search) {
		background-color: #ccc;
		bottom: -25px;
		content: '';
		display: block;
		height: 150px;
		left: 6%;
		position: absolute;
		transform: rotateX(70deg);
		width: 88%;
		z-index: 0;
	}
}

.books-grid:empty { display: none; }

@media (max-width: 1070px) {
	.books-grid { padding: .8em; }
}

@media (max-width: 470px) {
	.books-grid { padding: .5em; }
}

.books-grid__item {
	background-color: #fff;
	box-shadow: 0 7px 10px rgba(145, 145, 145, 0.315);
	margin: 1em;
	max-width: 208px;
	padding: 1em;
	position: relative;
	width: 100%;
}

@media (max-width: 1070px) {
	.books-grid__item {
		margin: .8em;
		max-width: 176px;
		padding: .5em;
	}
}

@media (max-width: 470px) {
	.books-grid__item {
		margin: .5em;
		padding: .5em;
		max-width: calc(50% - 1em);
	}
}

@media (max-width: 360px) {
	.books-grid__item {
		padding: 1em;
		max-width: 100%;
	}
}

.books-grid__empty {
	align-self: center;
	color: #202020;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}