.open-search {
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.open-search button {
	background: #2e7d32 url('../../icons/add.svg') center center no-repeat;
	background-size: 28px;
	border-radius: 50%;
	box-shadow: 0 7px 10px rgba(145, 145, 145, 0.315);
	display: block;
	font-size: 0;
	height: 50px;
	outline: 0;
	width: 50px;
}

.open-search button:hover { background-color: #006600; }

.search-terms {
	font-family: monospace;
	font-size: 12px;
	margin-top: 2em;
	padding: 1em 0;
	text-align: center;
	white-space: pre-wrap;
}

.search-terms span {
	background-color: #ccc;
	cursor: pointer;
	display: inline-block;
	margin: .5em;
	padding: .2em .8em;
	transition:
		box-shadow .3s ease,
		transform .2s ease
	;
}

.search-terms span:hover {
	box-shadow: 0 7px 10px rgba(145, 145, 145, 0.315);
	color: #000;
	font-weight: bold;
	transform: scale(1.1);
}